venv/
__pycache__
docs/_build/
*/_build/
docs/_build/*
docs/_build/doctrees/environment.pickle
docs/_build/doctrees/index.doctree
docs/_build/doctrees/index.doctree
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/objects.inv
docs/_build/html/search.html
docs/_build/html/searchindex.js
docs/_build/html/_sources/index.rst.txt
docs/_build/doctrees/environment.pickle
docs/_build/doctrees/index.doctree
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/objects.inv
docs/_build/html/search.html
docs/_build/html/searchindex.js
docs/_build/html/_sources/index.rst.txt
